server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://monitoring-db:5432/monitoringdb
    username: user
    password: userpass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never
